body{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.con{
    display: block;
    justify-content: center;
}

.con__img{
    margin : 50px;
    width : 180px;
    height: 180px;
}

.btn{
    display: block;
    width: 270px;
    height: 75px;
    background-color : #7F8C8D;
    border-radius :38px;
    color : #FCFCFC;
    font-size: 30px;
    box-shadow: none;
    border : 0px;
    box-shadow : 0px 0px 0px 0px gray;
    transition: background-color 0.5s ease-in-out;
}

.btn:hover{
    background-color : #95A5A6;
    box-shadow : 0px 3px 6px 1px grey;
}

.img{
    display: block;
    width : 180px;
    height: 180px;
    transition: all 0.5s ease-in-out;

}

.img:hover{
    border: 5px solid #020202;
    transform : rotate(45deg) scale(.7, .7); 
}